.text-input {
    -fx-font-size: 12;
    -fx-background-color: transparent;
}

.text-input:focused {
    -fx-font-size: 12;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-insets: 1 1 1 1;
}

.text-input:disabled {
    -fx-font-size: 12;
    -fx-opacity: 1.0;
}