#btn-create-class {          
	-fx-graphic: url("../images/toolbar/structureclass.gif");
}

#btn-create-instance {          
	-fx-graphic: url("../images/toolbar/instance.gif");
}

#btn-create-undirected-association {          
	-fx-graphic: url("../images/toolbar/assoc.gif");
}

#btn-create-directed-association {          
	-fx-graphic: url("../images/toolbar/assoWithNav.gif");
}

#btn-create-bidirected-association {       
	-fx-graphic: url("../images/toolbar/assoNavToNav.gif");
}

#btn-create-undirected-aggregation {          
	-fx-graphic: url("../images/toolbar/aggregation.gif");
}

#btn-create-directed-aggregation {          
	-fx-graphic: url("../images/toolbar/aggregationToNavi.gif");
}

#btn-create-undirected-composition {          
	-fx-graphic: url("../images/toolbar/composite.gif");
}

#btn-create-directed-composition {          
	-fx-graphic: url("../images/toolbar/compositeToNavi.gif");
}

#btn-create-generalization {          
	-fx-graphic: url("../images/toolbar/general.gif");
}

#btn-create-dependency {          
	-fx-graphic: url("../images/toolbar/depend.gif");
}